{# src/templates/_settings/categories.twig #}

{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% import 'blocksmith/_includes/macros.twig' as macros %}

{% set fullPageForm = true %}

{% set crumbs = [
    {
        label: "Settings"|t('blocksmith'),
        url: url('admin/settings')
    },
    {
        label: "Plugins"|t('blocksmith'),
        url: url('admin/settings/plugins')
    }
] %}

{% block sidebar %}
	{% include 'blocksmith/_settings/sidebar.twig' %}
{% endblock %}

{% block content %}
	<div class="content">
		<h1>{{ "Categories"|t('blocksmith') }}</h1>
		<div class="blocksmith-hint">
				{{ "Coming soon."|t('blocksmith') }}
			</div>
	</div>
{% endblock %}
