{# src/templates/_settings/categories.twig #}

{% extends '_layouts/cp' %}

{% set title = "Categories" | t('blocksmith') %}

{% block sidebar %}
	{% include 'blocksmith/_settings/sidebar.twig' %}
{% endblock %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') %}

{% do view.registerTranslations('blocksmith', [
    "Categories",
    "New Category",
    "No categories exist yet.",
]) %}

{% block actionButton %}
	<a href="{{ url('blocksmith/settings/categories/new') }}" class="btn submit add icon">{{ "New Category"|t('blocksmith') }}</a>
{% endblock %}

{% set crumbs = [
    {
        label: "Settings"|t('blocksmith'),
        url: url('admin/settings')
    },
    {
        label: "Plugins"|t('blocksmith'),
        url: url('admin/settings/plugins')
    }
] %}

{% block content %}
	<div id="blocksmith-categories-vue-admin-table"></div>
{% endblock %}


{% set tableData = [] %}
{% for category in categories %}
	{% set tableData = tableData|merge([{
        id: category.uid,
        title: category.name,
        url: url('blocksmith/settings/categories/edit/' ~ category.uid),
    }]) %}
{% endfor %}


{% js %}
new Craft.VueAdminTable({
    columns: [
        {
            name: '__slot:title',
            title: Craft.t('blocksmith', 'Name'),
        },
    ],
    container: '#blocksmith-categories-vue-admin-table',
    deleteAction: 'blocksmith/blocksmith/delete-category',
    emptyMessage: Craft.t('blocksmith', 'No categories exist yet.'),
    tableData:
{{ tableData|json_encode|raw }},
    reorderAction: 'blocksmith/blocksmith/reorder-categories',
    onSortChange: (sortedIds) => {            
    Craft.sendActionRequest('POST', 'blocksmith/reorder-categories', {
        data: { ids: sortedIds },
    });
    },
    slots: {
        title: (row) => {
            return `<a href="${row.url}">${row.title}</a>`;
			        },
			    },
			});
{% endjs %}
