{# src/templates/_settings/edit-category.twig #}

{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% import 'blocksmith/_includes/macros.twig' as macros %}

{% set fullPageForm = true %}

{% set crumbs = [
    {
        label: "Settings"|t('blocksmith'),
        url: url('admin/settings')
    },
    {
        label: "Plugins"|t('blocksmith'),
        url: url('admin/settings/plugins')
    },
    {
        label: "Categories"|t('blocksmith'),
        url: url('blocksmith/settings/categories')
    }
] %}

{% set title = category ? ("Edit Category" | t('blocksmith')) : ("New Category" | t('blocksmith')) %}

{% block sidebar %}
	{% include 'blocksmith/_settings/sidebar.twig' %}
{% endblock %}

{% block content %}
	<input type="hidden" name="pluginHandle" value="blocksmith">
	<input type="hidden" name="id" value="{{ category.uid ?? '' }}">
	{{ actionInput('blocksmith/blocksmith/save-category') }}

	<div class="blocksmith-settings-wrapper">
		<div class="blocksmith-settings-content">
			<h1>{{ title }}</h1>

			{{ forms.textField({
                label: 'Name'|t('blocksmith'),
                name: 'name',
                id: 'name',
                value: category.name ?? '',
                required: true,
                instructions: 'Enter the name of the category.'|t('blocksmith')
            }) }}

		</div>
	</div>
{% endblock %}
