/* src/assets/css/blocksmith.css */

.blocksmith-menu-item.menu-item::before {
  margin-bottom: 2px;
}
.blocksmith-add-btn.btn.icon.add::before {
  margin-bottom: -1px;
}

body .blocksmith-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 90% !important;
  max-width: 1100px !important;
  height: 90% !important;
  max-height: 90% !important;
  overflow: auto;
}

@media (max-width: 1177px) {
  body .blocksmith-modal {
    max-width: 800px !important
  }
}

.blocksmith-modal-content {
  text-align: center;
  height: calc(100% - 60px);
  padding: 20px;
  overflow-y: auto;
}

.blocksmith-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.footer.blocksmith-modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-block: 6px;
  padding-inline: var(--pane-padding, var(--xl));
  background-color: var(--gray-100);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0 0 var(--large-border-radius) var(--large-border-radius);
  box-shadow: inset 0 1px 0 var(--hairline-color);
  z-index: 1002;
}

.blocksmith-blocks {
  display: block;
  margin-top: 20px;
}

.blocksmith-block {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
  max-width: 500px;
}

@media (max-width: 1177px) {
  .blocksmith-block {
    max-width: 100%;
  }
}

.blocksmith-block img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.blocksmith-block:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
}

.blocksmith-block span {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.blocksmith-hint {
  font-size: 12px;
  font-weight: 500;
  color: #dc2625;
  margin-top: 5px;
  line-height: 1.4;
  text-align: center;
}

.blocksmith-footer {
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
